@import url(/fonts/Roboto/stylesheet.css);

/**{
    outline: 1px solid red;;
}*/

body{
    font-family: Roboto, Arial, Helvetica, sans-serif !important;
    font-weight: 400;
}

.container-fluid {
    background-color: white;
}

.primary-c {

    background: #416b8b;
    /* Old browsers */
    background: -moz-linear-gradient(top, #416b8b 0%, #416b8b 35%, #193347 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #416b8b 0%, #416b8b 35%, #193347 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #416b8b 0%, #416b8b 35%, #193347 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#416b8b', endColorstr='#193347', GradientType=0);
    /* IE6-9 */

}

.secondary-c {
    color: #245275 ;
}

.top-row {
    /* background-color: burlywood; */
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    align-items: center;
}

.mt-b {
    /*Margin top and bottom of 25px*/
    margin-top: 25px;
    margin-bottom: 25px;
}

.top-row>div>a {
    font-size: 24px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    color: #3B3B3B;
}

.top-row>div>a:visited {
    color: #3B3B3B;
}



.red {
    /* background-color: brown; */
    height: 45px;
}

.red>button {
    height: 100%;
}

.pink {
    /* background-color: crimson; */
    text-align: center;
    width: 140px;

}

.pink>button,
:visited {
    width: 140px;
    font-size: 20px;
    color: white;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: none;

}

.btn-c > button,
:visited{
    padding: 8px;

    color: white;
    background: #ffa1a1;
    /* Old browsers */
    background: -moz-linear-gradient(left, #ffa1a1 0%, #f1a165 48%, #feba70 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ffa1a1 0%, #f1a165 48%, #feba70 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ffa1a1 0%, #f1a165 48%, #feba70 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa1a1', endColorstr='#feba70', GradientType=1);
    /* IE6-9 */
    /*border-radius of 6px*/
    -webkit-box-shadow: 0px 3px 6px 0px rgba(247, 169, 169, 0.1);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
}

.b-radius-6 {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.b-radius-100 {
    -webkit-border-top-left-radius: 100px;
    -webkit-border-top-right-radius: 100px;
    -moz-border-radius-topleft: 100px;
    -moz-border-radius-topright: 100px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}



.m-top-25 {
    margin-top: 25px;
}

.no-m-btm{
    margin-bottom: 0;
}
.m-top-40 {
    margin-top: 40px;
}

.m-top-65 {
    margin-top: 65px;
    /*(m-top-25:25px) + 40px*/
}

.no-borders {
    border: none;
}

.skills-section {
    z-index: 1;
    width: 100vw;
    position: absolute;

}

ul {
    padding: 5px 0 !important;
    text-align: center;

}

ul>li{
    list-style-type: none;
    list-style-position: inside;
    padding: 2px;
}

.no-mg {
    margin: 0;
}


.skillz {
    padding: 15px;
    background-color: white;
    height: 250px;
}

#dwnl-btn{
    width: 100%;
}

#dwnl-btn >svg{
vertical-align: top !important;
padding: 0 2px;}


.works-previews {
    height: 200px;
    background-color: salmon;
    border: red 1px solid;
}

.z-ind {
    z-index: 10;
}
.z-ind-2 {
    z-index: 20;
}

#up-btn-card{
    position: absolute;
}

#arw-2-top {
    border: solid white;
    border-width: 0px 6px 6px 0px;
    display: inline-block;
    padding: 20px;
    transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  position: absolute;
  margin-top: 35px;
  border-radius: 3px 0px;
}


@media (min-width: 768px) {
    .blue{
        margin-left: 80px !important;
        margin-right: 80px !important;

    }

}


