/*  */
/*  */
/* BODY */

body {
    font-family: Roboto, Arial, Helvetica !important;
}

.container-fluid {
    background-color: #ffffff;
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.fade-in {
    -webkit-animation: fadeIn 1.4s;
    animation: fadeIn 1.4s;
}

a {
    cursor: pointer;
    font-weight: 300;
}

a:hover,
a:active {
    text-decoration: none !important;
}

.shadow-down {
    -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
}

.shadow-up {
    -webkit-box-shadow: 0px -2px 4px #97979728;
    box-shadow: 0px -2px 4px #97979728;
}

.white-text {
    color: white !important;
}

.dark-c {
    color: #3B3B3B !important;
}


/*  */
/*  */
/* MARGINS */


/*  */
/*  */
/* PADDINGs */
.padding-top-small {
    padding-top: 50px;
}

.padding-top-mobile {
    padding-top: 70px;
}

.padding-top-flexi {
    padding-top: 70px;

}


/*  */
/*  */
/* GENERAL CSSs */

#page-footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    margin: 0;
    left: 0;
    right: 0;
}


/*  */
/*  */
/* BORDERS */

.b-radius-6 {
    border-radius: 30px !important;
}

.b-radius-2 {
    border-radius: 10px !important;
}

.b-radius-100 {
    -webkit-border-top-left-radius: 100px;
    -webkit-border-top-right-radius: 100px;
    -moz-border-radius-topleft: 100px;
    -moz-border-radius-topright: 100px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

.no-borders {
    border: none !important;
}


/*  */
/*  */
/* Z-INDEXs */

.z-ind {
    z-index: 10;
}

.z-ind-2 {
    z-index: 20;
}

/* HIDDEN NAAVS FOR MOBILE */

#topbar-contents-mobile-navs-wrapper {
    height: 145px;
    position: fixed;
}

#mobile-navs-close-button {
    width: 100%;
    /*background-color: white;*/
    height: 50px;
    display: flex;
    justify-content: center;
}

#close-button-wrapper {
    width: 47px;
    height: 100%;
}

.x1 {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.x2 {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

.menu-close-button {
    height: 5px;
    width: 48px;
    background-color: #3B3B3B;
    position: absolute;
    top: 30px;
    cursor: pointer;
}

.mobile-nav-show,
.mobile-nav-close {
    position: fixed;
    background-color: white;
    -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.164);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    z-index: 4000;
    margin-top: 0;
    width: 100%;
    padding: 10px 0px;
}

.mobile-nav-show {
    top: 0;
    animation: slideIn 650ms cubic-bezier(.26, .41, .43, .99) 0s 1 forwards;
}

.mobile-nav-close {
    animation: slideOut 650ms cubic-bezier(.26, .41, .43, .99) 0s 1 forwards;
}

.mobile-nav-hide {
    display: none;
}

.ham-menu-wrapped {
    cursor: pointer;
    /* background-color: red; */
    height: 60px;
    width: 60px;
    /*background-color: violet;*/
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-item-align: center;
    -webkit-box-pack: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
}

.ham-menu-wrapped:hover>div {
    background-color: #cfbd1b;
}

.ham-menu {
    height: 7px;
    width: 100%;
    /* background-color: #f57966; */
    background-color: #f1e048;
    box-shadow: 0px 1px 2px #2020204b;
    display: block;
    border-radius: 3px;
}


#logo {
    cursor: default;
    box-shadow: 0px 1px 2px #2020204b;
    text-shadow: 0px 1px 2px #2020202f;
    font-size: 40px;
    font-weight: 500;
    color: #f57966;
    padding: 5px;
    background-color: #ffffff;
    border-radius: 5px;
    -webkit-transition: border 200ms linear;
    -o-transition: border 200ms linear;
    transition: border 200ms linear;
}

.second-c-hover:hover {
    color: #f57966 !important;
    cursor: pointer;

}

#topbar-contents-navs-wrapper {
    display: none;
}

.nav-link-buttons {
    width: 140px;
    height: 40px;
    padding: 0;
    margin: 0;
}

.nav-buttons {
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border: none;
    width: 140px;
    height: 40px;
    color: white !important;
    background: hsla(26, 83%, 53%, 1);
    -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.164);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);

}

.nav-buttons:hover {
    color: white;
    background-color: rgb(44, 44, 44);
    -webkit-transition-duration: .1s;
    -o-transition-duration: .1s;
    transition-duration: .1s;
}


/*  */
/*  */
/* Intro Page */

#intro-section {
    padding: 20px;
    height: 100vh;
    /* background-color: #ffffff;*/
    background: hsla(31, 93%, 61%, 1);

    background: linear-gradient(45deg, hsla(31, 93%, 61%, 1) 0%, hsla(26, 83%, 53%, 1) 22%, hsla(22, 93%, 46%, 1) 100%);

    background: -moz-linear-gradient(45deg, hsla(31, 93%, 61%, 1) 0%, hsla(26, 83%, 53%, 1) 22%, hsla(22, 93%, 46%, 1) 100%);

    background: -webkit-linear-gradient(45deg, hsla(31, 93%, 61%, 1) 0%, hsla(26, 83%, 53%, 1) 22%, hsla(22, 93%, 46%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#F89F41", endColorstr="#EB7721", GradientType=1);
}

#welcoming-text {
    color: #ffffff;
    text-shadow: 0px 1px 2px #20202049;
    font-family: Roboto, Arial, Helvetica, sans-serif !important;
    font-size: 14vmin;
    cursor: default;
    font-weight: 600;
    line-height: 1.2;
}

#about-button {
    border: 4px solid #f1e048;
    box-shadow: 0px 1px 3px #2727274b;
    border-radius: 4vmin;
    overflow: hidden;
}

#about-button:hover {
    background-color: #f1e048;
}

#about-button:hover>span {
    color: #ffffff;
}

#about-button-text {
    font-size: 10vmin;
    font-weight: 500;
    color: #f1e048;
    text-shadow: 0px 1px 2px #2727274b;
}


/*  */
/*  */
/* BIO SECTION */

#bio-header {
    line-height: 1.5;
    font-size: 32px;
}

#bio-wrapper {
    max-width: 450px;
    line-height: 1.6;
    font-size: 16px;
}

#resume-download-button {
    background-color: #394AA7;
    color: white;
    width: 95%;
    height: 45px;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

#resume-download-button>span {
    font-size: 20px;
}

.button-text-shadows {
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

#to-skills-button-wrapper {
    height: 40px;
    /* background-color: yellow; */
}

#to-skills-button {
    width: 250px;
    height: 40px;
    /* background-color: red; */
    border: 3px solid yellow;
}

#to-skills-button-text {
    font-size: 24px;
}


/*  */
/*  */
/* SKILLS SECTION */

#skills-section {
    height: 780px;
}

#skills-list-wrapper {
    margin-top: 75px;
}

.span-section {
    width: 100%;
    position: absolute;
}

.skills-sect-home {
    width: 100%;
    height: 710px;
    position: absolute;
    background: rgb(13, 41, 158);
    background: -moz-linear-gradient(42deg, rgba(13, 41, 158, 1) 0%, rgb(71, 97, 202) 38%, rgb(223, 118, 61) 60%, rgb(255, 103, 28) 100%);
    background: -webkit-linear-gradient(42deg, rgba(13, 41, 158, 1) 0%, rgb(71, 97, 202) 38%, rgb(223, 118, 61) 60%, rgb(255, 103, 28) 100%);
    background: linear-gradient(42deg, rgba(13, 41, 158, 1) 0%, rgb(71, 97, 202) 38%, rgb(223, 118, 61) 60%, rgb(255, 103, 28) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0d299e", endColorstr="#e56828", GradientType=1);
}

#skills-text {
    width: 100%;
    color: White;
}

#skills-wrapper {
    width: 100%;
}

#skill-icons-wrapper {
    width: 100% !important;
}

#skills-header {
    color: #ffffff;
}

.header-2 {
    font-size: 8vmax;
    font-weight: 500;
    text-shadow: 0px 2px 4px #4242421e;
}

.figure-skill {
    padding: 10px 10px !important;
    max-width: 150px !important;
}

.figure-skill-img {
    width: 70px;
}

.figure-skill-img-smalls {
    width: 59px;
}

.figure-style {
    color: white !important;
    font-size: 18px;
}


/*  */
/*  */
/* WORKS */

#works-wrapper {
    overflow: scroll;
}

#works-header {
    color: rgb(240, 109, 34);
}

.works-link-button {
    color: white;
    background-color: #f89f41;
    padding: 8px 15px;
    font-size: 20px;
    border-radius: 6px;
    border: none;
}

.works-border {
    border: none !important;
    -webkit-box-shadow: 0px 1px 4px 0px #9797973b;
    box-shadow: 0px 1px 4px 0px #9797973b;
}

.works-img-border {
    border: none !important;
    -webkit-box-shadow: 0px 1px 4px 0px #9797973d;
    box-shadow: 0px 1px 4px 0px #9797973d;
}



.hide {
    display: none;
    cursor: pointer;
}

.card-wid {
    max-width: 320px !important;
    border: none !important;
}

.works-box-shadow{
    box-shadow: 0px 1px 3px 0px #97979762 !important;
}

.card-wid:hover {
    background: rgb(13, 41, 158);
    background: -moz-linear-gradient(42deg, rgba(13, 41, 158, 0.9) 0%, rgba(52, 77, 178, 0.93) 38%, rgba(222, 124, 72, 0.97) 74%, rgba(229, 104, 40, 0.97) 100%);
    background: -webkit-linear-gradient(42deg, rgba(13, 41, 158, 0.9) 0%, rgba(52, 77, 178, 0.93) 38%, rgba(222, 124, 72, 1) 74%, rgba(229, 104, 40, 1) 100%);
    background: linear-gradient(42deg, rgba(13, 41, 158, 1) 0%, rgba(52, 77, 178, 1) 28%, rgba(222, 125, 72, 1) 74%, rgba(229, 103, 40, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0d299e", endColorstr="#e56828", GradientType=1);
}

.card-wid:hover>.card .hide {
    border: none !important;
    color: rgb(42, 42, 42);
    background-color: #fffffff6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.card-wid:hover>.hide>a {
    max-width: 300px;
    color: white;
}

.card-wid:hover>.hide>a:visited {
    color: white;
}

.card-wid:hover>.hide>a:hover {
    color: white;
    background-color: #e27b0d;
}

.works-titles {
    font-size: 24px !important;
    font-weight: bold;
}

.works-detail{
    font-size: 16px !important;
}


/*  */
/*  */
/* 3 Icons */

#icons-section {
    height: 250px;
}

#icons-wrapper {
    padding: 30px 20px;
    border-radius: 60px;
    -webkit-box-shadow: 0px 1px 3px 1px #97979785;
    box-shadow: 0px 2px 4px 1px #97979785;
}

.three-icons-normal {
    height: 40px;
    padding: 0px 20px 0px 10px;
}

.three-icons-mid {
    height: 45px;
    padding: 0px 30px;
}

.three-icons-larger {
    height: 53px;
    padding: 0px 10px 0px 20px;
}


/*  */
/*  */
/* CONTACT FORMS */

.contact-background {
    height: inherit;
    background: hsla(31, 93%, 61%, 1);

    background: linear-gradient(45deg, hsla(31, 93%, 61%, 1) 0%, hsla(26, 83%, 53%, 1) 22%, hsla(22, 93%, 46%, 1) 100%);

    background: -moz-linear-gradient(45deg, hsla(31, 93%, 61%, 1) 0%, hsla(26, 83%, 53%, 1) 22%, hsla(22, 93%, 46%, 1) 100%);

    background: -webkit-linear-gradient(45deg, hsla(31, 93%, 61%, 1) 0%, hsla(26, 83%, 53%, 1) 22%, hsla(22, 93%, 46%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#F89F41", endColorstr="#EB7721", GradientType=1);
}

#contact-section {
    height: 840px;
}

#form-submit-button {
    background-color: #394AA7;
    border: none !important;
    color: #ffffff;
}

#contact-header {
    color: white;
    font-size: 20px;
    font-weight: 500;
}

#message-box {
    height: 200px;
    resize: none;
}

#status {
    height: 50px;
    width: 50px;
}


/*  */
/*  */
/* FLOATING UP ARROW */

.show-self {
    display: flex;
    align-items: center;
    opacity: 0.97;
    justify-content: center;
    background-color: #f57966;
    position: fixed;
    right: 0;
    bottom: 15vh;
    z-index: 5000;
    width: 55px;
    height: 50px;
    padding-bottom: 4px;
    border-radius: 4px 0px 0px 4px;
    box-shadow: 0px 3px 6px #62251b25;
    animation: fadeIn 400ms 0s cubic-bezier(.02, -0.25, 1, 1) forwards;
}

.hide-self {
    display: none;
}







/*  */
/*  */
/* MEDIA Q: 768PX AND UP */
@media (min-width: 768px) and (min-height:681px) {

    #bio-section,
    /* #works-section, */
    #contact-section,
    #skills-section {
        height: 100vh !important;
    }

}






@media (min-width: 768px) {

    .padding-top-mobile {
        padding-top: 0px;
    }

    #bio-profile-image-wrapper {
        overflow: hidden;
        object-fit: cover;
        object-position: center;
    }

    #resume-download-button {
        width: 100%;
    }

    #profile-image {
        margin-top: 0;
        height: 100%;
        position: relative;
    }

    #profile-image-image {
        object-fit: cover;
        animation: fadeIn 500ms forwards linear;
    }

    .margin-full-height {
        margin-top: 0px;
    }

    .padding-top-big {
        padding-top: 0px !important;
    }

    #skills-wrapper {
        max-width: 800px;
    }

    .skills-sect-home {
        height: inherit;
    }

    .figure-skill {
        padding: 10px 10px !important;
        max-width: 450px !important;
    }

    .figure-skill-img {
        width: 90px;
    }

    .figure-skill-img-smalls {
        width: 75px;
    }
}






/*  */
/*  */
/* MEDIA Q: 992PX AND UP */
@media (min-width: 992px) {

    /*  */
    /*  */
    /* General Css */


    #topbar-contents-navs-wrapper {
        display: none;
    }

    .padding-top-small {
        padding-top: 40px;
    }

    /*  */
    /*  */
    /* TOP ROW: TITLE AND NAV LINKS */

    #resume-download-button:hover {
        background-color: #1d384d;
    }

    /*  */
    /*  */
    /* SKILLS SECTION */



    /*  */
    /*  */
    /* WORKS */


    /*  */
    /*  */
    /* Contact-fixed */
    #form-submit-button:hover {
        background-color: #132533;
    }

}






/*  */
/*  */
/* MEDIA Q: 1200 */
@media (min-width: 1200px) {}






/* KEYFRAMES */
@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideShift {
    from {
        right: 20%;
        opacity: 0;
    }

    to {
        right: 0%;
        opacity: 1;
    }

}

@keyframes slideIn {
    from {
        top: -145px;
    }

    to {
        top: 0;
    }
}

@keyframes slideOut {
    from {
        top: 0;
    }

    to {
        top: -145px;
    }
}