/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*  */
/*  */
/* BODY */
body {
    font-family: Roboto, Arial, Helvetica, sans-serif !important;
    font-weight: 400;
}

.container-fluid {
    background-color: white;
}

.fade-in {
    -webkit-animation: fadeIn 1.4s ;
            animation: fadeIn 1.4s ;
}


a {
    cursor: pointer;
    font-weight: 300;
}

a:hover,
a:active {
    text-decoration: none !important;
}

.shadow-down {
    -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
}

.shadow-up {
    -webkit-box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.16);
            box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.16);
}

.bh-ic {
    border: 3px solid transparent;
    border-radius: 10px;

}

.bh-ic:hover {
    border: 3px solid white;
}

.secondary-c {
    color: #1a4261;
}

.dark-c {
    color: #132533 !important;
}

/*  */
/*  */
/* MARGINS */
.m-top-small {
    margin-top: 40px;
}

.m-top-big {
    margin-top: 65px;
}

.m-top-1st-element {
    margin-top: 75px;
}

.m-top-1st-element-lower{
    margin-top: 65px;

}

.m-top-skill {
    margin-top: 25px;
}

/*  */
/*  */
/* PADDINGs */
.pad-sides-15 {
    padding-left: 25px !important;
    padding-right: 25px !important;

}


/*  */
/*  */
/* GENERAL CSSs */
.card-wid {
    max-width: 500px !important;
}

.max-wid {
    max-width: 1080px !important;
}

#page-footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    margin: 0;
    left: 0;
    right: 0;
}

/*  */
/*  */
/* BORDERS */
.b-radius-6 {
    border-radius: 6px;
}

.b-radius-100 {
    -webkit-border-top-left-radius: 100px;
    -webkit-border-top-right-radius: 100px;
    -moz-border-radius-topleft: 100px;
    -moz-border-radius-topright: 100px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

.no-borders {
    border: none;
}

/*  */
/*  */
/* Z-INDEXs */
.z-ind {
    z-index: 10;
}

.z-ind-2 {
    z-index: 20;
}

#top-sect-wrapper {
    max-width: 1800px;
}


.blue {
    margin-top: 20px;
}

.top-row {
    /* background-color: burlywood; */
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

#self-title {
    font-size: 60px;
    font-weight: 500;
    color: rgb(44, 44, 44);
    color: #132533;
    border-bottom: 4px solid white;
    -webkit-transition: border 200ms linear ;
    -o-transition: border 200ms linear ;
    transition: border 200ms linear ;
}

#self-title:hover {
    color: #f17d00;

}

.pink,
.pink:visited,
.pink:hover {
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: white;
    border-radius: 6px;
    border: none;
    padding: 8px 15px;
}

.nav-c {
    color: white !important;
    background: #f89f41;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    /* box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16); */
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);

}

.nav-c:hover {
    color: white;
    background-color: #f17d00;
    -webkit-transition-duration: .1s;
         -o-transition-duration: .1s;
            transition-duration: .1s;
}

.btn-c,
.btn-c>a:visited {
    color: white !important;
    /* Old browsers */
    /* FF3.6-15 */
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient(linear, left top, right top, from(#ffa3a3), color-stop(45%, #fa8f65), to(#f89f41));
    background: -o-linear-gradient(left, #ffa3a3 0%, #fa8f65 45%, #f89f41 100%);
    background: linear-gradient(to right, #ffa3a3 0%, #fa8f65 45%, #f89f41 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa1a1', endColorstr='#feba70', GradientType=1);
    /* IE6-9 */
    /*border-radius of 6px*/
    border: none !important;
}

/*  */
/*  */
/* Intro Page */

#intro-span {
    height: 100%;
    width: 100vw;
    background-color: #132533;
    padding: 55px;
    -webkit-animation: fadeOut .5s 5.5s 1 forwards;
            animation: fadeOut .5s 5.5s 1 forwards;
}


#wlcm-txt {
    color: white;
    font-family: Roboto, Arial, Helvetica, sans-serif !important;
    font-size: 10vw;
    cursor: default;
    font-weight: 600;
}

/*  */
/*  */
/* BIO SECTION */

#self-tagline {
    font-weight: bold;
    font-size: 28px;
    /* color: rgb(44, 44, 44); */
}

/*  */
/*  */
/* SKILLS SECTION */
#contact-card {
    height: 428px;
}

#skills-list-wrapper {
    margin-top: 75px;
}

#skills-wrapper {
    margin-top: 90px;
}

.skills-section {
    z-index: 1;
    width: 100%;
    position: absolute;
}

#web-skillz {
    margin-top: 40px;
}

ul {
    padding: 5px 0 !important;
    text-align: center;
}

ul>li {
    list-style-type: none;
    list-style-position: inside;
    padding: 2px;
}

.no-mg {
    margin: 0;
}

.skills-sect-home {
    height: 1450px;
    background-color: #132533;
;
}

.skills-sect-contact {
    height: 200px;
}

.skillz {
    background-color: white;
    height: 250px;
    width: 210px;
}
.skillz>h3 {
    color: #f17d00;
    font-weight: 500;
}

.skillz-exp {
    background-color: white;
    height: 250px;
    width: 210px;
}

#dwnl-btn {
    padding: 6px !important;
    min-width: 238px;
}

#dwnl-btn>span {
    font-size: 20px;
}

#skill-icons-wrapper {
    width: 100% !important;
}

.hide {
    display: none;
    cursor: pointer;

}

.card-wid:hover>.hide {
    opacity: 0.96;
    color: white;
    background-color: #2e2e2e;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.card-wid:hover>.hide>a {
    max-width: 300px;
}

.card-wid:hover>.hide>a:hover {
    color: white;
    background-color: #e27b0d;
}

/*  */
/*  */
/* Contact-fixed */



/*  */
/*  */
/* WORKS */
#last-1 {
    margin-bottom: 30px;
}

.work-link-btn {
    color: white;
    background-color: #f89f41;
    padding: 8px 15px;
    font-size: 20px;
    border-radius: 6px;
    border: none;

}

.works-border {
    border: none !important;
    -webkit-box-shadow: 0px 3px 6px 2px #bdbcbc23;
            box-shadow: 0px 3px 6px 2px #bdbcbc23;
}

.work-titles {
    font-size: 24px !important;
    font-weight: bold;
}


/*  */
/*  */
/* CONTACT FORMS */

#form-submit-btn {
    background-color: #f89f41;
    border: none !important;
}
#form-submit-btn:hover {
    background-color: #f17d00;
}

#contact-header {
    font-size: 20px;
    font-weight: 500;
}

#message-box {
    height: 200px;
    resize: none;
}

#status {
    height: 50px;
    width: 50px;
}

/*  */
/*  */
/* FIXED CONTACT ME */
#fixed-contact-me {
    font-size: 35px;
}

#email-link {
    font-size: 25px;
}

#cont-wrapper{
    margin-top: 120px;
}

/*  */
/*  */
/* FOOTER, UP ARROW */
#up-btn-card {
    position: absolute;
    background-color: #1a4261;
}

#up-btn {
    cursor: pointer;
}

.roboto-500 {
    font-weight: 500 !important;
}

.roboto-400 {
    font-weight: 400 !important;
}

.roboto-light {
    font-weight: 300 !important;
}

#arw-2-top {
    border: solid white;
    border-width: 0px 6px 6px 0px;
    display: inline-block;
    padding: 20px;
    -ms-transform: rotate(-135deg);
        transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    position: absolute;
    margin-top: 35px;
    border-radius: 3px 0px;
}

/*  */
/*  */
/* MEDIA Q: 768PX AND UP */
@media (min-width: 768px) {

    /*  */
    /*  */
    /* General Css */
    .m-top-small {
        margin-top: 40px;
    }

    .m-top-big {
        margin-top: 85px;
    }

    .m-top-1st-element {
        margin-top: 85px;
    }

    .m-top-1st-element-lower {
        margin-top: 100px;

    }

    .m-top-skill {
        margin-top: 65px !important;
    }

    /*  */
    /*  */
    /* TOP ROW: TITLE AND NAV LINKS */
    .blue {
        margin-top: 40px !important;
        margin-left: 40px !important;
        margin-right: 40px !important;
    }

    /*  */
    /*  */
    /* SKILLS SECTION */

    #web-skillz {
        margin-top: 0px;
    }

    .skills-sect-home {
        height: 1312px;
    }

    .skills-sect-work {
        height: 81px;
    }
    #skills-list-wrapper {
        margin-top: 95px;
    }

    #self-tagline {
        font-size: 38px;
    }

    #dwnl-btn {
        width: 450px;
    }

    #dwnl-btn:hover {
        background: #e08523;
    }

    .skill-icons {
        width: 210px;
    }

    #skill-icons-wrapper {
        width: auto !important;

    }

    /*  */
    /*  */
    /* WORKS */
    .card-padding {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .card-wid {
        max-width: 500px !important;
    }

    #wlcm-txt{
        font-size: 4vw !important;
    }
    #intro-span {
        padding: 105px !important;
    }

    /*  */
    /*  */
    /* Contact-fixed */
    #skills-wrapper {
        margin-top: 120px;
    }

}

/*  */
/* WORKS */

#work-thumbs {
    padding-left: 15px;
    padding-right: 15px;
}

.work-img-wrapper {
    padding-left: 12px !important;
    padding-right: 12px !important;
}


/*  */
/*  */
/* MEDIA Q: 1200 */
@media (min-width: 1200px) {
    .blue {
        margin-left: 50px !important;
        margin-right: 50px !important;
    }

    #last-1 {
        margin-bottom: 0px;
    }

}


/* Experiments */
@-webkit-keyframes fadeOut {
    from{
        opacity: 1;
    }
    to 
    {   opacity: 0;
    }
}
@keyframes fadeOut {
    from{
        opacity: 1;
    }
    to 
    {   opacity: 0;
    }
}
@-webkit-keyframes fadeIn {
    from{
        opacity: 0;
    }
    to 
    {   opacity: 1;
    }
}
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to 
    {   opacity: 1;
    }
}

